#portfolio {
  margin: 0 auto;
  min-height: 30rem;
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 5rem;
  background-color: rgb(238, 226, 212);
  border: dotted;
  border-radius: 50%;
  width: 750px;
}

.myportfolio {
  margin: 1rem 0;
  font-size: 3rem;
  padding-top: 1rem;
  color:rgb(248, 245, 245);
}

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.portfolio-img-one {
  object-fit: cover;
  width: 60%;
  margin: 3rem;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: transform 1s;
  transform-style: preserve-3d;
  display: block;
}

.portfolio-img-two {
  object-fit: cover;
  width: 56%;
  margin: 3rem;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: transform 1s;
  transform-style: preserve-3d;
  display: block;
}

.portfolio-img-three {
  object-fit: cover;
  width: 56%;
  margin: 1rem;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: transform 1s;
  transform-style: preserve-3d;
  display: block;
}

.portfolio-img-one:hover,
.portfolio-img-two:hover,
.portfolio-img-three:hover {
  transform: rotate(360deg);
  cursor: pointer;
  opacity: 20%;
}

@media screen and (max-width: 590px) {
  #portfolio {
    width: 100%;
    border: none; 
    border-radius: 0; 
    background-color: transparent;
  }

  .myportfolio {
    font-size: 2rem;
  }

  .portfolio-images,
  .portfolio-single {
    flex-wrap: wrap;
  }

  .portfolio-img-one,
  .portfolio-img-two,
  .portfolio-img-three {
    object-fit: cover;
    width: 50%;
    margin: 1rem;
    border-radius: 50%;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
