#portfolio {
    margin: 0 auto;
    min-height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 5rem;
    margin: rem;
}

.myportfolio {
    margin: 1rem 0;
    font-size: 3rem;
}

.portfolio-info {
    font-size: 1rem;
    font-family: Cinzel;
    font-weight: bold;
    width: 80%;
    max-width: 90%;
}

.portfolio-images {
   display: flex;
   align-items: center;
   justify-content: center;
}

.portfolio-img-one {
    object-fit: cover;
    width: 60%;
    margin: 5rem;
    border-radius: 50%;  
    width: 200px;       
    height: 200px; 
}

.portfolio-img-two {
    object-fit: cover;
    width: 56%;
    margin: 5rem;
    border-radius: 50%;  
    width: 200px;       
    height: 200px;  
}

.portfolio-img-three {
    object-fit: cover;
    width: 56%;
    margin: 5rem;
    border-radius: 50%;  
    width: 200px;       
    height: 200px;  
}
