#about {
    overflow: hidden;
    width: 80%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10rem;
}

.about-info {
    font-weight: 300;
    font-size: 1rem;
    font-family: Cinzel, sans-serif;
    max-width: 45rem;
    padding: 0 2rem;
    color: #c0a798;

}

.about-bars {
    margin: 1.25rem;
    width: 80%;
    max-width: 90%;
    text-align: left;
    color: #c9b2a4;
}

.about-single-bar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    background: #ecded4;
}

.about-bar-img {
    height: 15%;
    width: 15%;
    object-fit: cover;
    margin-right: 2rem;
}

.about-bar-text p {
    font-size: 1rem;
    font-weight: 200;
    display: flex;
}

.head-image {
    margin-bottom: 2rem;
    border-radius: 50rem;
    height: 320px;
}

@media screen and (max-width: 781px) {
    .head-image {
        height: 250px; 
        width: 200px;
    }

    .about-info, .about-bar-text p {
        font-size: 0.8rem;
    }

    .about-bar-img {
        height: 10%; 
        width: 10%;
    }
}
