.btn {
    background-color: #D5BDAF;
    color: white;
    direction: flex;
    align-items: center;
    margin: 5;
    justify-content: center;
    border-radius: 12px;
    height: 2rem;
    width: 6rem;
    margin-top: .5rem;

    &.btn-success {
        color: #EDEDE9;
        font-size: 20px;
        display: flex;
        justify-content: center;

    }
}

#home {
    height: calc(100vh - 6rem);
    width: 100%;
    overflow: hidden;
    position: relative;

    .image {
        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/computer.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        margin-top: 1rem;

    }
}

.home-content {
    height: 80%;
    width: 100%;
    padding: 7rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    position: absolute;
}



.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.intro-name {
    color: white;
}

.intro-p {
    font-size: small;
    font-weight: 100;
    margin-top: .25rem;
    color: rgb(244, 240, 240);
    font-family: Cinzel;
}

.developer {
    color: #D6CCC2;
    font-family: 'Pixelify Sans', sans-serif;
}


