.contact-title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.contact-info {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

.contact-form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.name, .email, .msg {
    font-size: medium;
    width: 65%;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: #D6CCC2;
    border: solid;
    border-radius: 0.5rem;
    background: #E3D5CA;
}

.submitBtn {
    background-color: #E3D5CA;
    padding: .5rem 1.5rem;

}