#footer {
    background-color: #E3D5CA;
    height: 5rem;
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 3;

}

.social-links {
    padding-top: 1rem;
    display: flex;
    justify-content: center;

}
.contact-link {
    padding: .5rem;
    color: rgb(250, 248, 248);
}