#footer {
    background-color: #E3D5CA;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.social-links {
    padding-top: 1rem;
    display: flex;
    justify-content: center;

}
.contact-link {
    padding: .5rem;
    color: rgb(250, 248, 248);
}